<a href="https://colab.research.google.com/github/DenisNjuguna/Week-4-IP/blob/main/Moringa_Data_Science_Prep_Week_4_Independent_Project_2021_02_Denis__Njuguna_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA INVESTIGATION**

**Loading necessary libraries**

In [ ]:
#pandas library
import pandas as pd

#numpy library
import numpy as np

#matplotlib library
import matplotlib.pyplot as plt
%matplotlib inline 

#seaborn library
import seaborn as sns

**Importing and checking the dataset**

In [ ]:
# storing url location 
url= 'http://bit.ly/autolib_dataset'

# reading dataset from url
autolib= pd.read_csv(url)

In [ ]:
# viewing the dataset
autolib.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
# size of the dataset

autolib.shape

(5000, 25)

In [ ]:
autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
# confirming the unique values in columns

autolib['Charging Status'].unique()

array(['station', 'full_station', 'subs_center'], dtype=object)

In [ ]:
autolib['Kind'].unique()

array(['STATION', 'PARKING', 'SPACE', 'CENTER'], dtype=object)

In [ ]:
autolib['Rental status'].unique()

array(['operational', 'broken', 'future', 'nonexistent'], dtype=object)

In [ ]:
autolib['Station type'].unique()

array(['station', 'full_station', 'subs_center'], dtype=object)

In [ ]:
autolib['Status'].unique()

array(['ok', 'closed', 'scheduled'], dtype=object)

In [ ]:
autolib['Subscription status'].unique()

array(['nonexistent', 'operational', 'broken'], dtype=object)

#### The input in specific columns seem to be as specified in the description.

### Checking for null values

In [ ]:
autolib.isnull().values.any()

True

In [ ]:
# total number of missing values
autolib.isnull().sum().sum()

9842

In [ ]:
#checking rows that have missing values
autolib.isnull().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Displayed comment       True
ID                     False
Kind                   False
Geo point              False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [ ]:
#count of missing values per row.
autolib.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

##### Retain null values since the elements missing are from specific columns, data in each observation will be relevant to the analysis hence the retention.

## **Data Exploration and Analysis**

In [ ]:
# Random observations of the data. 

autolib.take(np.random.permutation(len(autolib))[:12])

                               Address  Cars  ...  hour  minute
2728               44 rue Paul Barruel     5  ...    16      14
3719                  5 rue Emile Zola     0  ...     7      33
2927         42 rue Pierre Brossolette     2  ...    16      54
1406           104 avenue Ledru Rollin     2  ...     4      30
568   203 Rue du Faubourg-Saint-Martin     5  ...     1      13
4910     120 boulevard Auguste Blanqui     1  ...    22      23
1149             1 boulevard Garibaldi     0  ...    14      26
4898             31 boulevard National     5  ...    20      46
4694      33 route du PavÃ© des Gardes     4  ...    13      25
3198              49 avenue de l'Arche     2  ...    22      57
2434               1 Rue RenÃ© Jacques     1  ...    23      41
1438           1 avenue Georges Mandel     0  ...    23      58

[12 rows x 25 columns]

In [ ]:
#number of unique stations

len(list(autolib['Public name'].unique()))

1105

In [ ]:
# checking if there is a unique postal code to each station
len(list(autolib['Postal code'].unique()))

107

In [ ]:
# Does this mean that stations share postal codes?

autolib['Postal code'].isnull().values.any()

False

In [ ]:
# checking if the number of unique stations match with the number of unique ids
len(list(autolib['ID'].unique()))

1105

In [ ]:
# number of unique addresses
len(list(autolib['Address'].unique()))

1104

In [ ]:
# Getting records whose City is Paris

Parisvar= autolib['City'] == 'Paris'

Parisdf=autolib[Parisvar]
Parisdf

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
5                   8 Boulevard Voltaire     0  ...     7       2
...                                  ...   ...  ...   ...     ...
4992                     3 avenue d'Ivry     0  ...    23       1
4994                    15 rue de Rocroy     0  ...    20      49
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4999                 5 Rue Henry Brisson     4  ...    10       2

[2816 rows x 25 columns]

In [ ]:
# Checking the number of stations in Paris

len(list(Parisdf['ID'].unique()))

605

In [ ]:
# Finding most popular hour of the day for picking up a bluecar in Paris.